* {
    box-sizing: border-box;
}

main {
    width: 900px;
    margin: 100px auto;
    background-color: bisque;
    padding-left:10px ;
    overflow: hidden;
    border-right: 3px solid black;
}

.section-1 {
    overflow: hidden;
}

.section-2 {
    height: 100px;
    overflow: scroll;
    overflow-x: hidden;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
}

.section-1 p,
.section-3 p {
    width: calc((100% - 40px) / 3);
    float: left;
    background-color: aqua;
    margin-right: 10px;
    height: 100px;
    overflow: hidden;
}