/* start zig-zag Boxes */

 main{
    margin-top: 10px;
    padding: 50px 20px;
    border-top: 1px solid gray;
 }
 main span{
    display: inline-block;
    width: 50px;
    height:50px;
    border: 1px solid black;
    margin-right: 5px;
 }
 main span:nth-child(odd){
    background-color:yellow;
    position: relative;
    bottom: 25px;
 }
 main span:nth-child(even){
    background-color:green;
 }
/* end zig-zag Boxes */
/* start Hide even number between 1 to 10*/
section{
    border-bottom: 1px solid gray;
    padding: 15px 20px;
}
section span{
    display: inline-block;
    width: 80px;
    height: 30px;
    background-color:red;
    color: white;
    font-weight: bold;
    font-size:20px;
    text-align: center;
    border: 1px solid black;
}
section span:nth-child(2n+1){
    display: none;
}

/* end Hide even number between 1 to 10*/